
<div id="calculations">
  <%= render @calculations %>
</div>

<h3>Add your calculation:</h3>

<%= form_for Calculation.new, remote: true do |f| %>

  <p>
    <%= f.label :a %><br />
    <%= f.text_field :a %>
  </p>
  <p>
    <%= f.label :b %><br />
    <%= f.text_field :b %>
  </p>
  
  
  <p><%= f.submit %></p>
<% end %>