<h3>Input your calculation:</h3>

<div class="row">
  <div class="col-md-4">
    <%= form_for Calculation.new, :html=> { class: 'form-inline' }, remote: true do |f| %>
      <div class="input-group">
        <%= f.label :a, :class =>'input-group-addon'%>
        <%= f.text_field :a, 
          :class =>'form-control input_box', 
          :type => 'number',
          :max => '100',
          :min =>'0' %>

        <%= f.label :b, :class =>'input-group-addon'%>
        <%= f.text_field :b, 
          :class =>'form-control input_box', 
          :type => 'number',
          :max => '100',
          :min =>'0' %>
      </div>
      
      <div class="btn-group ">
          <%= f.submit "sum", :class =>'btn btn-default calculate_btns', :disabled => 'disabled' %>
          <%= f.submit "difference", :class =>'btn btn-default calculate_btns', :disabled => 'disabled'%>
          <%= f.submit "multiplication", :class =>'btn btn-default calculate_btns', :disabled => 'disabled' %>
          <%= f.submit "division", :class =>'btn btn-default calculate_btns', :disabled => 'disabled' %>
      </div>
    <% end %>
    
      <textarea rows="10" cols="40" disabled="disabled" id="calculations">
      </textarea>
  </div>

</div>